body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
/* adjusted font fam/size*/
header, footer {
    background-color: aquamarine;
}
/*validated, added header/footer color*/
.site-title {
    color: rgb(5, 99, 187);
}
#my-image {
    box-shadow:0px 0px 2px 1px black
}
ul.square-hobbies{
    list-style: square;
}
/* site title, image shadow, squares added*/
ul.square-hobbies :nth-child(odd){
    background-color: blueviolet;
}
/* got odd color to work*/
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    border: ridge crimson;
    background-color: burlywood
}
nav ul li a:hover{
    background-color: mediumvioletred;
}
/*styled nav*/