
/*my code below*/
body{
	font-family: Arial, Helvetica, sans-serif;
	background-color:rgb(167, 240, 223);
}
.wrapper {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10%;
	padding-right: 10%;
}

.navlist li{
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	padding-left: 5rem;
	padding-right: 5rem;
	text-align: center;
	margin: auto;
}
.navlist li a{
	text-decoration: none;
	color: black;
}

nav li {
    width: inherit;
  }

nav li:not(:last-child) {
    border-right: 1pt solid black;
}
/* adds vertical line to each nav li but contact*/
.image{
	position: relative;
	background-color:rgb(167, 240, 223);
}

.image h1{
	z-index: 2;
	color: white;
	font-size: 46px;	
	position: absolute;
	margin-top: 13rem;
	padding-left: 24rem;
}

.image img{
	z-index: 1;
}

.form{
	text-align: left;
	border: black 1px solid;
	padding: 2rem;
}

.facts ul li{
	text-align: left;
}

h3{
	text-align: left;
}

#message{
	width: 98%;
	height: 65px;

}