/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* all css reset above, the following below will be all my code */
/* colours #c78c06, #ffe6ac, #222  */


body {
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    margin-left: .7rem;
    max-width: 1200px;
}

nav ul li a, .a1, .s1, .t1, .c1{
    text-decoration: none;
}

nav {
    padding-right: 1.5rem;
    
}

nav ul li a, .home {
    color: #222;
    text-decoration: none;
}

/* targets just the home to fit the color theme */

nav{
    text-align: center;
    background-color: #c78c06;
    
    
}

.logo {
    background-color: #c78c06;
    margin-top: 5%;
}

nav img {
    display: flex;
    width: 150px;
    height: 150px;
}

nav ul li {
    background-color: #222;
}
.a1, .s1, .t1, .c1 {
    color:#c78c06;
}
.home {
    color: #222;
    background-color: #c78c06;
    display: block;
    padding-bottom: 1rem;
}
/* its messy but took out redundant code, fixing colouring of the nav menu and using display block to allow Home to take up the full space with colour*/

nav ul li:nth-child(2){
    padding: 1rem;
}
nav ul li:nth-child(3){
    padding: 1rem;
}
nav ul li:nth-child(4){
    padding: 1rem;
}
nav ul li:nth-child(5){
    padding: 1rem;
}


#search{
   width: 710px;
    text-align: left;
    display: flex;
    justify-content: center;
    height: 2.3rem;
    
}
.mg {
    width: min-content;
    color: #c78c06;
    background-color: #222;
    border-color: #c78c06;
    border: solid;
    text-align: center;
    margin: 0;
}


form {
    background-color: #222;
    display: flex;
    padding-bottom: 1rem;
}
nav {
    padding-left: 2rem;
    margin-right: -1rem;
    background-color: #222;
    padding-top: .1px;
    margin-top: -3%;
}

.welcome{
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: -1rem;
}


header h2 {
    font-weight: 800;
    font-size: 45pt;
    color: white;
    
}
/* button code */
.connect {
    padding: 1rem;
    background-color: #c78c06;
    color: black;
}



.box, h2 p button{
    background-color: #2222226f;
    top: 20rem;
}

#about {
    background-color: #ffe6ac;
    padding-bottom: 1rem;
    padding-right: 1rem;
    margin-right: -1rem;
}
    

#about img {
    padding-top: 1rem;
    padding-left: 1rem;
    width: 740px;
    justify-content: center;
}
 
h3 {
    font-weight: 800;
    font-size: 3rem;
    line-height: 8rem;
    margin-left: 1rem;
}

#about p{ 
    line-height: 1.5rem;
}

h4 {
    font-weight: 800;
    font-size: 2rem;
}

#service .wrapper {
    background-color: #ffe6ac;
}

#service img {
    background-color: white;
}


#service h3 {
    background-color: white;
}
.white{
    background-color: white;
    padding: .2rem;
    border-color: white;
    color: white;
    list-style: none;
    text-decoration: none;
}


.service-button {
    padding: 1rem;
    background-color: #c78c06;
    color: white;
}



.white, hr {
    border: none;
}


.digital img {
    width: 749px;
}
.marketting img {
    width: 749px;
}
.web img {
    width: 749px;
}
.video img {
    width: 749px;
}
.print img {
    width: 749px;
}


.digital, .print, .web, .video, .marketting  .wrapper {
    padding-bottom: .7rem;
    
}

.print h4 {

    padding-top: 1.5rem;
    padding-left: .5rem;
    padding-bottom: 1.5rem;
    font-weight: 800;
    font-size: 3rem;
 /* fixing services h4s */
}
.web h4 {

    padding-top: 1.5rem;
    padding-left: .5rem;

    padding-bottom: 1.5rem;
    font-weight: 800;
    font-size: 3rem;
 /* fixing services h4s */
}
.video h4 {

    padding-top: 1.5rem;
    padding-left: .5rem;

    padding-bottom: 1.5rem;
    font-weight: 800;
    font-size: 3rem;
 /* fixing services h4s */
}
.marketting h4 {
    padding-left: .5rem;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: 800;
    font-size: 3rem;
 /* fixing services h4s */
}
.digital h4 {
    padding-left: .5rem;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: 800;
    font-size: 3rem;
 /* fixing services h4s */
}

.print p {
    padding-left: .5rem;

    line-height: 1.5rem;
    padding-bottom: .5rem;
 /* fixing services texts */
}
.web p {
    padding-left: .5rem;

    line-height: 1.5rem;
    padding-bottom: .5rem;
 /* fixing services texts */
}
.video p {
    padding-left: .5rem;

    line-height: 1.5rem;
    padding-bottom: .5rem;
 /* fixing services texts */
}
.digital p {
    padding-left: .5rem;

    line-height: 1.5rem;
    padding-bottom: .5rem;
 /* fixing services texts */
}
.marketting p {
    padding-left: .5rem;

    line-height: 1.5rem;
    padding-bottom: .5rem;
 /* fixing services texts */
}
#service .service-button {
    background-color: #222;
    color: white;
    border: none;
    margin-left: .5rem;
}

.vision{
    background-image: url(../images/vision.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 244px;
    margin-right: -1rem;
}

.vision h4 {
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
}

.vision p {
    color: white;
    line-height: 1.5rem;

    padding-bottom: 1rem;
}


.teamcolor {
    background-color: #ffe6ac;
}

#team img {
    width: 748px;
}


#team div hr {
    border: solid 1px;
    border-color: #c78c06;
    margin-left: 1rem;
}

#team #white {
    border: solid 1px;
    border-color: white;

}


#contact form {
    background-color: white;
    display: block;
    padding-left: 1rem;
}

#fullname, #email, #comments {
    display: block;
    width: 98%;
}
#contact h4 {
    padding-top: 3rem;
    font-size: 2rem;
}
#contact h4, h5 {
    font-weight: 800;
    line-height: 3rem;
    font-weight: bolder;
}
#contact h5 {
    font-size: 1.5rem;
}

#contact #comments {
    height: 10rem;
}

#contact form label {
    line-height: 2rem;
}

#contact form button {
    margin-top: 1rem;
    color: #c78c06;
    background-color: #222;
    border: solid 1px;
    border-color: #c78c06;
}