/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* all css reset above, the following below will be all my code */
/* colours #c78c06, #ffe6ac, #222  */

* {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    /* helps adjust what reset "breaks"*/
}
/*     *{} applies to all      */
body {
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    margin: auto;
    width: 90%;
}

nav ul li a, .a1, .s1, .t1, .c1{
    text-decoration: none;
}

nav ul li a, .home {
    color: #222;
    text-decoration: none;
}

/* targets just the home to fit the color theme */

nav{
    text-align: center;
    background-color: #c78c06;
}

.logo {
    background-color: #c78c06;
    margin-top: 5%;
}

nav img {
    display: flex;
    width: 20%;
}

nav ul li {
    background-color: #222;
}
.a1, .s1, .t1, .c1 {
    color:#c78c06;
}
.home {
    color: #222;
    background-color: #c78c06;
    display: block;
    padding-bottom: 1rem;
}
/* its messy but took out redundant code, fixing colouring of the nav menu and using display block to allow Home to take up the full space with colour*/

nav ul li:nth-child(2){
    padding: 1rem;
}
nav ul li:nth-child(3){
    padding: 1rem;
}
nav ul li:nth-child(4){
    padding: 1rem;
}
nav ul li:nth-child(5){
    padding: 1rem;
}


#search{
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    height: 2.3rem;
    
}
.mg {
    width: min-content;
    color: #c78c06;
    background-color: #222;
    border-color: #c78c06;
    border: solid;
    text-align: center;
}


form {
    background-color: #222;
    display: flex;
    padding-bottom: 1rem;
}
nav {
    padding-left: 2%;
    padding-right: 2%;
    background-color: #222;
    padding-top: .1px;
    margin-top: -3%;
}

.welcome{
    background-image: url(/images/main-banner.jpg);
    background-size: cover;
}

header h2 {
    font-weight: 900;
    font-size: 45pt;
    color: white;
    
}
/* button code */
.connect {
    position: relative; /* sets position of button*/
    width: 33%; /* sets size on screen */
    padding-top: 4rem;
    background-color: #c78c06;
    font-weight: 500;
    font-size: 1.2rem;
    border: none;
}
.connect::before {
    content: "Connect with us";
    position: absolute; /* keeps text within */
    top: 49%;
    left: 40%;
    transform: translate(-49%, -40%); /* moving positioning */
}
.connect i {
    text-align: right;
    padding-right: 1rem;
    font-size: 2rem;
    transform: translate(-11%, -90%);
}
/* button code */
.box, h2 p button{
    background-color: #2222226f;
    top: 20rem;
    margin-left: -6%;
    padding-left: 5%;
}


#about {
    background-color: #ffe6ac;
    padding-bottom: 1rem;
}

#about img {
    width: 95%;
    margin: 1rem;
    justify-content: center;
}
 
h3 {
    font-weight: 800;
    font-size: 3rem;
    line-height: 8rem;
}

#about p{ 
    line-height: 1.5rem;
}

h4 {
    font-weight: 800;
    font-size: 2rem;
}

#service {
    background-color: #white;
}



#service h3 {
    background-color: white;
}
.white{
    background-color: white;
    padding: .2rem;
    border-color: white;
    list-style: none;
    text-decoration: none;
}

#service h3 {
    margin-left: 1%;
}

.digplans {
    position: relative;
    width: 27%;
    padding-top: 4rem;
    background-color: #222;
    font-weight: 500;
    margin-left: -1.5rem;
    font-size: 1.2rem;
    border: none;
}
.digplans::before {
    content: "Digital Plans";
    color: white;
    position: absolute;
    top: 49%;
    left: 40%;
    transform: translate(-49%, -40%);
}
.digplans i {
    text-align: right;
    color: white;
    padding-right: 1rem;
    font-size: 2rem;
    transform: translate(-5%, -90%);
} /* repeat of earlier button code with some minor changes */
.markplans {
    position: relative;
    width: 27%;
    padding-top: 4rem;
    background-color: #222;
    font-weight: 450;
    margin-left: -1.5rem;
    font-size: 1.2rem;
    border: none;
}
.markplans::before {
    content: "Marketting Plans";
    color: white;
    position: absolute;
    top: 43%;
    left: 5%;
}
.markplans i {
    text-align: right;
    color: white;
    font-size: 2rem;
    transform: translate(-4%, -80%);
} /* repeat of earlier button code with some minor changes */
.vidplans {
    position: relative;
    width: 27%;
    padding-top: 4rem;
    background-color: #222;
    font-weight: 450;
    margin-left: -1.5rem;
    font-size: 1.2rem;
    border: none;
}
.vidplans::before {
    content: "Video Plans";
    color: white;
    position: absolute;
    top: 43%;
    left: 15%;
}
.vidplans i {
    text-align: right;
    color: white;
    font-size: 2rem;
    transform: translate(-10%, -80%);
} /* repeat of earlier button code with some minor changes */
.webplans {
    position: relative;
    width: 27%;
    padding-top: 4rem;
    background-color: #222;
    font-weight: 450;
    margin-left: -1.5rem;
    font-size: 1.2rem;
    border: none;
}
.webplans::before {
    content: "Web Plans";
    color: white;
    position: absolute;
    top: 43%;
    left: 15%;
}
.webplans i {
    text-align: right;
    color: white;
    font-size: 2rem;
    transform: translate(-20%, -80%);
} /* repeat of earlier button code with some minor changes */
.priplans {
    position: relative;
    width: 27%;
    padding-top: 4rem;
    background-color: #222;
    font-weight: 450;
    margin-left: -1.5rem;
    font-size: 1.2rem;
    border: none;
}
.priplans::before {
    content: "Print Plans";
    color: white;
    position: absolute;
    top: 43%;
    left: 15%;
}
.priplans i {
    text-align: right;
    color: white;
    font-size: 2rem;
    transform: translate(-20%, -80%);
} /* repeat of earlier button code with some minor changes */



.white, hr {
    border: none;
}

.marketting, .digital, .web, .video, .print {
    background-color: #ffe6ac;
    margin-left: 1%;
    margin-right: 1%;    
}

.print h4 {
    margin-left: -1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: 800;
    font-size: 3rem;
 /* fixing services h4s */
}
.web h4 {
    margin-left: -1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: 800;
    font-size: 3rem;
 /* fixing services h4s */
}
.video h4 {
    margin-left: -1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: 800;
    font-size: 3rem;
 /* fixing services h4s */
}
.marketting h4 {
    margin-left: -1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: 800;
    font-size: 3rem;
 /* fixing services h4s */
}
.digital h4 {
    margin-left: -1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: 800;
    font-size: 3rem;
 /* fixing services h4s */
}

.print p {
    margin-left: -1.5rem;
    line-height: 1.5rem;
    padding-bottom: .5rem;
 /* fixing services texts */
}
.web p {
    margin-left: -1.5rem;
    line-height: 1.5rem;
    padding-bottom: .5rem;
 /* fixing services texts */
}
.video p {
    margin-left: -1.5rem;
    line-height: 1.5rem;
    padding-bottom: .5rem;
 /* fixing services texts */
}
.digital p {
    margin-left: -1.5rem;
    line-height: 1.5rem;
    padding-bottom: .5rem;
 /* fixing services texts */
}
.marketting p {
    margin-left: -1.5rem;
    line-height: 1.5rem;
    padding-bottom: .5rem;
 /* fixing services texts */
}





.vision{
    background-image: url(/images/vision.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 102%;
    height: 100%;
}
.visionbut {
    position: relative;
    width: 27%;
    padding-top: 4rem;
    background-color: #060331;
    font-weight: 450;
    font-size: 1.2rem;
    margin-left: -1rem;
    margin-bottom: 1rem;
    border: solid;
    border-color: #c78c06;
}
.visionbut::before {
    content: "Learn More";
    color: white;
    position: absolute;
    top: 43%;
    left: 15%;
}
.visionbut i {
    text-align: right;
    color: white;
    font-size: 2rem;
    transform: translate(-20%, -80%);
} /* repeat of earlier button code with some minor changes */

.vision h4 {
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
    margin-left: -1rem;
}

.vision p {
    color: white;
    line-height: 1.5rem;
    margin-left: -1rem;

}