/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* all css reset above, the following below will be all my code */
/* colours #c78c06, #ffe6ac, #222  */



body {
    font-family: 'Open Sans', sans-serif;
    
}
.wrapper {
    margin-left: .7rem;
}

nav ul li a, .a1, .s1, .t1, .c1{
    text-decoration: none;
}

nav {
    padding-right: 1.5rem;
    max-width: 100%;
}

nav ul li a, .home {
    color: #222;
    text-decoration: none;
}

/* targets just the home to fit the color theme */

nav{
    text-align: center;
    background-color: #c78c06;
    
    
}

.logo {
    background-color: #c78c06;
    margin-top: 5%;
}

nav img {
    display: flex;
    width: 150px;
    height: 150px;
}

nav ul li {
    background-color: #222;
}
.a1, .s1, .t1, .c1 {
    color:#c78c06;
}
.home {
    color: #222;
    background-color: #c78c06;
    display: block;
    padding-bottom: 1rem;
}
/* its messy but took out redundant code, fixing colouring of the nav menu and using display block to allow Home to take up the full space with colour*/

nav ul li:nth-child(2){
    padding: 1rem;
}
nav ul li:nth-child(3){
    padding: 1rem;
}
nav ul li:nth-child(4){
    padding: 1rem;
}
nav ul li:nth-child(5){
    padding: 1rem;
}


#search{
    width: 710px;
    text-align: left;
    display: flex;
    justify-content: center;
    height: 2.3rem;
}
.mg {
    width: min-content;
    color: #c78c06;
    background-color: #222;
    border-color: #c78c06;
    border: solid;
    text-align: center;
    margin: 0;
}


form {
    background-color: #222;
    display: flex;
    padding-bottom: 1rem;
}
nav {
    padding-left: 2rem;
    margin-right: -1rem;
    background-color: #222;
    padding-top: .1px;
    margin-top: -3%;
}

.welcome{
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: -1rem;
}


header h2 {
    font-weight: 800;
    color: white;
    
}
/* button code */
.connect {
    padding: 2rem;
    font-size: 1rem;
    background-color: #c78c06;
    color: black;
    border: none;
}

.box {
    padding-bottom: 1rem;
    margin-left: -1rem;
    padding-left: 1rem;
}

.box{
    background-color: #2222227f;
    padding-top: 7rem;
}
.welcome .wrapper {
    padding-top: 7rem;
}
.box h2 {
    line-height: 5rem;
    padding-bottom: 2.5rem;
    font-weight: bolder;
    font-size: 5rem;
}

.box p {
    color: white;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}

#about {
    background-color: #ffe6ac;
    padding-bottom: 1rem;
    padding-right: 1rem;
    margin-right: -1rem;
}
    

#about img {
    padding-top: 1rem;
    max-width: 100%;
    justify-content: center;
}
 
h3 {
    font-weight: 800;
    font-size: 3rem;
    line-height: 8rem;
    margin-left: 1rem;
}

#about p{ 
    line-height: 1.5rem;
}

h4 {
    font-weight: 800;
    font-size: 2rem;
}

#service .wrapper {
    background-color: #ffe6ac;
}

#service img {
    background-color: white;
}


#service h3 {
    background-color: white;
}
.white{
    background-color: white;
    padding: .2rem;
    border-color: white;
    color: white;
    list-style: none;
    text-decoration: none;
}


.service-button {
    padding: 2rem;
    background-color: #c78c06;
    color: white;
    font-size: 1rem;
}
.vision p{
    padding-left: 1rem;
}
.vision h4{
    padding-left: 1rem;
}
.vision button{
    margin-left: 1rem;
}

.vision{
    background-image: url(../images/vision.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 260px;
    margin-right: -1rem;
}

.vision h4 {
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: left;
}

.vision p {
    color: white;
    line-height: 1.3rem;
    padding-bottom: .5rem;
    font-size: 1rem;
}


.vision .service-button {
    padding: 1.5rem;
    background-color: #222;
    border: solid 1px;
    border-color: #c78c06;
    
    
}

.serviceimg, .john, .bob {
    width: 100%;
    height: auto;
}


.digital, .print, .web, .video, .marketting{
    padding-bottom: .7rem;
    border-bottom: 1rem;
    border: solid 5px white;
    
}

.print h4 {

    padding-top: 1.5rem;
    padding-left: .5rem;
    padding-bottom: 1.5rem;
    font-weight: 800;
    font-size: 3rem;
 /* fixing services h4s */
}
.web h4 {

    padding-top: 1.5rem;
    padding-left: .5rem;

    padding-bottom: 1.5rem;
    font-weight: 800;
    font-size: 3rem;
 /* fixing services h4s */
}
.video h4 {

    padding-top: 1.5rem;
    padding-left: .5rem;

    padding-bottom: 1.5rem;
    font-weight: 800;
    font-size: 3rem;
 /* fixing services h4s */
}
.marketting h4 {
    padding-left: .5rem;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: 800;
    font-size: 3rem;
 /* fixing services h4s */
}
.digital h4 {
    padding-left: .5rem;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: 800;
    font-size: 3rem;
 /* fixing services h4s */
}

.print p {
    padding-left: .5rem;

    line-height: 1.5rem;
    padding-bottom: .5rem;
 /* fixing services texts */
}
.web p {
    padding-left: .5rem;

    line-height: 1.5rem;
    padding-bottom: .5rem;
 /* fixing services texts */
}
.video p {
    padding-left: .5rem;

    line-height: 1.5rem;
    padding-bottom: .5rem;
 /* fixing services texts */
}
.digital p {
    padding-left: .5rem;

    line-height: 1.5rem;
    padding-bottom: .5rem;
 /* fixing services texts */
}
.marketting p {
    padding-left: .5rem;

    line-height: 1.5rem;
    padding-bottom: .5rem;
 /* fixing services texts */
}
#service .service-button {
    background-color: #222;
    color: white;
    border: none;
    margin-left: .5rem;
}


.john, .bob {
    display:block;
}

.teamcolor {
    background-color: #ffe6ac;
}



#team div hr {
    border: solid 1px;
    border-color: #c78c06;
    margin-left: .1rem;
    margin-right: .4rem;
}

#team #white {
    border: solid 1px;
    border-color: white;

}

#team header h4{
    font-weight: 800;
    font-size: 3rem;
    line-height: 5rem;
}

.teamcolor h4 {
    font-weight: 800;
    line-height: 3rem;
}
.teamcolor p {
    font-weight: 200;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}


#team h5 {
    font-weight: 800;
    font-size: 1rem;
}
#team .borderbottom {
    border-bottom: solid 5px white;
}


#contact form {
    background-color: white;
    display: block;
    padding-left: 1rem;
}

#fullname, #email, #comments {
    display: block;
    width: 98%;
}
#contact h4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
}
#contact h4 h5 {
    font-weight: 800;
    line-height: 3rem;
    font-weight: bolder;
}
#contact h5 {
    font-size: 1.5rem;
}

#contact #comments {
    height: 10rem;
}

#contact form label {
    line-height: 2rem;
}

#contact form button {
    margin-top: 1rem;
    color: #c78c06;
    background-color: #222;
    border: solid 1px;
    border-color: #c78c06;
}

#service .white{
    background-color: white;
    margin: 0;    
    border-color: white;
    color: white;
    border: none;
}

table {
    border-collapse: collapse;
    max-width: 100%;
    width: 98%;
    margin: 0 auto;
    margin-left: 1rem;
    border: solid 1px;
    border-color: black;
  }
  
  td {
    padding: 10px;
    text-align: left;
    border: solid 1px;
    border-color: black;
  }
  
  th {
    background-color: #ffe6ac;
    font-weight: bold;
    padding: 1rem;
    border: solid 1px;
    border-color: black;
  }
    
.hours h4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 800;
    font-size: 2rem;
    margin-left: 1rem;
}

#location h4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 800;
    font-size: 2rem;
    margin-left: 1rem;

}
iframe {
    width: 98%;
    height: 450px;
    margin-left: 1rem;
    padding-bottom: 1rem;
}

footer {
    background-color: #222;
    color: #c78c06;
    text-align: left;
    padding: 1rem;
    margin-right: -1rem;    
    line-height: 2rem;
}

footer p a {
    color: #c78c06;
}

/* all of mobile above */
/* desktop beginning */

@media screen and (min-width: 761px) {
    * {
        max-width: 1200px;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .welcome {
        background-image: url(../images/main-banner.jpg);
        background-size: cover;
        width: 1200px;
    }

    .box h2 {
        text-align: left;
        font-size: 5.5rem;
        padding-right: 2rem;
        padding-left: .5rem;
    }
    .box p {
        text-align: left;
        padding-left: .5rem;
    }
    .connect {
        display: block;
        margin-left: .5rem;
    }


    .box {
        padding-left: 0;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }
    nav ul {
        display: flex;
        align-items: center;
        background-color: #222;
        justify-content: space-evenly;
        max-width: 1100px;
        padding-top: 2rem;
    }

    .home {
        display: flex;
        padding: 0;
    }

    nav ul li:nth-child(1){
        background-color: #c78c06;
        color: #222;
        padding-bottom: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    nav ul li:nth-child(2){
        padding: 2rem;
        background-color: #222;
        color: #222;
    }
    nav ul li:nth-child(3){
        padding: 2rem;
        background-color: #222;
        color: #222;
    }
    nav ul li:nth-child(4){
        padding: 2rem;
        background-color: #222;
        color: #222;
    }
    nav ul li:nth-child(5){
        padding: 2rem;
        background-color: #222;
        color: #222;
    }
    nav {
        padding-left: 0;
        padding-right: 0;
        width: 1200px;
    }
    .mnav{
        background-color: #222;

    }    
    
    .logo {
        padding: 0;
        margin-left: 3rem;
        padding-right: 2rem;
        background-color: #222;
        padding-bottom: 2rem;
    }
    
    #search{
        width: 250px;
        margin-top: 2.7rem;
    }
    .mg {
        margin-top: 2.7rem;
        margin-right: 3rem;
    }

    #about {
        padding-right: 0;
        padding-bottom: 4rem;
    }
    #about img{ 
        width: 500px;
        height: 300px;
        float: left;
        margin-left: 4rem;
        padding-right: .5rem
    }
    #about p {
        text-align: left;
        line-height: 1.7rem;
    }
    #about h3 {
        text-align: left;
        line-height: 5rem;
    }
    
    #service {
        margin-right: 1rem;
    }

    #service .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
        grid-template-areas: 
            "d1 d1 d1 m1 m1 m1"
            "v1 v1 w1 w1 p1 p1"
        ;
    }
    .digital{
        grid-column: 1/4;
    }
    .marketting{
        grid-column: 4/7;
    }
   .video{
        grid-column: 1/3;
    }
    .web{
        grid-column: 3/5;
    }
    .print{
        grid-column: 5/7;
    }

    .digital{grid-area: d1;}
    .marketting{grid-area: m1;}
    .video{grid-area: v1;}
    .web{grid-area: w1;}
    .print{grid-area: p1;} 

    #service .wrapper h4{
        text-align: left;
        font-size: 2.5rem;

    }
    #service .wrapper p{
        text-align: justify;
    }
    #service .wrapper button{
        width: 85%;
    }
    .vision p {
        text-align: left;
        line-height: 1.8rem;
    }
    .vision button {
        display: block;
        margin-top: 1rem;
    }

    #team {
        margin-right: 1rem;
    }
    #team h4 {
        text-align: left;
    }

    #team .grid2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "john jc"
            "bc bob"
        ;
    }
    .bob {grid-area: bob;}
    .john {grid-area: john;}
    .jc {grid-area: jc;}
    .bc {grid-area: bc;}

    .john {
        grid-column: 1/2;
    }
    
    .bob {
        grid-column: 2/3;
    }
    
    #team h4{
        text-align: left;
    }
    #team h5 {
        text-align: left;
    }
    #team p {
        padding-top: .5rem;
        text-align: left;
        line-height: 1.7rem;
    }
    #team .borderbottom {
        border-bottom: none;
    }
    
    .grid3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "contact location"
        ;

    }

    #contact {grid-area: contact;}
    #hours {grid-area: hours;}
    #location {grid-area: location;}

    #contact {
        grid-column: 1/2;
    }
    #location {
        grid-column: 2/3;
    }
    #hours {
        width: 100%;
    }

}

